SPRING_PROFILES_ACTIVE=

ORDER_DB_HOST=
ORDER_DB_BIND_ADDRESS=
ORDER_DB_PORT=
ORDER_DB_NAME=
ORDER_DB_USERNAME=
ORDER_DB_PASSWORD=
ORDER_DB_ROOT_PASSWORD=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
